<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="scene" value="path to wsl"/>
    <add key="stingserverip" value="127.0.0.1"/>
    <add key="udtname" value="Soccer"/>
    <add key="w3dscene" value="C:\soccer.w3d"/>
    <add key="homescoreusertag" value="abc"/>
    <add key="awayscoreusertag" value="abc"/>
    <add key="counterusertag" value="abc"/>
    <add key="counterstartaction" value="abc"/>
    <add key="counterstopaction" value="abc"/>
  </appSettings>
</configuration>
