<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="stingserverip" value="192.168.1.101"/>
    <add key="udtname" value="Soccer Match Schedule"/>
    <add key="w3dscene" value="d:\Sample 1.w3d"/>
    <add key="stingserver" value="net.tcp://192.168.1.101:50011/TcpBinding/WcfTcpLink"/>
    <add key="homescoreusertag" value="abc"/>
    <add key="awayscoreusertag" value="abc"/>
    <add key="counterusertag" value="CountDown"/>
    <add key="counterstartaction" value="Start_CountDown"/>
    <add key="counterstopaction" value="Stop_CounTDown"/>
    <add key="extratimein" value="ExtraTime_IN"/>
    <add key="extratimeout" value="ExtraTime_OUT"/>
    <add key="startextratime" value="Start_ExtraTime"/>
    <add key="stopextratime" value="Stop_ExtraTime"/>
    <add key="defaultport" value="50011"/>
    <add key="extratimeusertag" value="CountDown_ET"/>
  </appSettings>
</configuration>
