<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="udtname" value="Soccer Match Schedule"/>
    <add key="scorebugscenepath" value="D:\BeeSys\WaspLoader\Soccer New Deisgn\Score Bug.wsp"/>
    <add key="counterusertag" value="CountDown"/>
    <add key="counterstartaction" value="Start_CountDown"/>
    <add key="counterstopaction" value="Pause_CounTDown"/>
    <add key="extratimein" value="ExtraTime_IN"/>
    <add key="extratimeout" value="ExtraTime_OUT"/>
    <add key="startextratime" value="Start_ExtraTime"/>
    <add key="stopextratime" value="Pause_ExtraTime"/>
    <add key="extratimeusertag" value="CountDown_ET"/>
    <add key="unloadactionsetname" value="Unload BG"/>
  </appSettings>
</configuration>
